body {
   
}

h1{
    color: #000;;
}

.titulo-principal{
    padding-left: 25px;
}

img {
    width: 100%;
}

.apresentacao {
    background: #ccc;
    padding: 30px;
}

h1 {
    text-align: center;
}

p {
    text-align: center
    front: size 20px;

    
em strong {
    color: red;
}

.beneficios{
    background: #fff;
    padding: 20px;

}

h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 50%;
}

.itens {
    font-style: italic;
}

.imagembeneficios{
    width: 50%;
}